<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.picks.main.MainMapper">

    <select id="getMembers" resultType="Map">
		SELECT *
		FROM picks_member
    </select>
    
    <insert id="insertMember">
    INSERT INTO picks_member 
    (
		id
    	,password
    	,name
    	,nickname)
    VALUES
    (
		"test"
		,"1234"
		,"테스트"
		,"테스트"
	)
    </insert>
</mapper>